.box {

    font-family: 'Poppins', sans-serif;
  
    text-align: center;
}

.box img {
    border-radius: 10px;
  
}

.box p{ 
    text-align: left
   
}





@media (max-width: 970px) {
    .box:nth-child(-n+2) {
        display: none;
    }
}