.photos_link {
    display: inline-block;
    cursor: pointer;
    background-color: #38b434;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    width: 300px;
    height: 40px;
    border: none;
   
}

.photos_link:hover {
    background-color: #3ec73a;
}